html{
  background: rgb(87, 89, 105);
background: radial-gradient(circle, rgb(41, 42, 55) 25%, rgba(53,51,70,1) 100%);
}
.App{
  
  font-family: 'News Cycle';
}
.nav-bar  {
  
  background-color: #cc9f5bd0;
  
}
.nav-items{
  display: grid;
  grid-template-columns: .5fr .5fr;
}
.Body {
  margin:0 auto;
  text-align: center;
  height: 90vh;
  width: 90vw;
  margin-top:20px;
  box-shadow: 0px 1px 12px #0c0c0c;
  
  
  
}
a{
  color:#ceced7;
  text-decoration: none;


}

a:hover{
  color: #363433;
  
}

.profile-feed-container{
  text-align: center;
  box-shadow: 0px 1px 8px #6a6d6b;
  height: 550px;
  margin: 4rem auto 8.1rem auto;
  width: 329px;
  border-radius: 21px;
  padding:10px;
  color: #4E4D5C;
 
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
input, textarea{
  border:none;
  border-bottom: 3px solid rgba(71, 68, 68, 0.666);
  outline: none;
  border-radius: 10px;
  width: 240px;
  padding: 10px;
  margin: 10px;
  font-family: 'News Cycle';

}

.post-container{
  
  color:#a0a0a7;
    overflow: scroll;
    /* border: 2px solid black; */
    grid-column: 2;
    grid-row: 1 /span 2;
    height: 60vh;
    

}



img{
  height: 200px;
  width: 200px;

}

.btn{
  border-radius: 21px;
  /* box-shadow: 0px 1px 8px #24c64f; */
  border: none;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 30px;
  transition: 0.25s;
  width: 140px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0;
 
}

.profile-nav{
  background-color: #cc9f5bd0;
  
  display: grid;
  grid-template-columns: .2fr .6fr .2fr;
  font-size: 20px;
  color: #4E4D5C;
  height: max-content;
  margin-top: 5px;
}


.feed-container{
  display: flex;
  flex-direction: row;
}


.feed{
  
  border:2px solid white;
  width: 400px;
  
  
}

