.App {
  text-align: center;
  
}

nav{
  background-color: orange;
  
}
.profile-feed-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
  
}


  .post-feed{
  background-color: blue;
  overflow: scroll;
  border: 2px solid black;
  grid-column: 2;
  grid-row: 1 /span 2;
  

}

form{
  display: flex;
  flex-direction: column;
  width:20vw;
  height: 40vh;
  grid-column: 1;
  grid-row:2;
  align-content: center;
 
}

.create-post{
  background-color: plum;
  
 
}
.post-container{
  border: 2px solid white;

}

.material-symbols-outlined:hover{
  color:white;
  cursor: pointer;

}



